body {
    font-family: 'Poppins', sans-serif;
    margin:0;
}
body p{
    font-size: small;
}
.header{
    font-size:40px;
}
.org{
    color: orange;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, rgba(240, 68, 68, 0.822));
    padding: 10px 30px;
    color: azure;
    font-weight: 600;
    border-radius: 5px;
}
.flex-contain {
    display: flex;
    margin-bottom: 150px;
    margin-top: 20px;
}

.half-width {
    width: 50%;
    padding: 4%;
}

.half-width img {
    width: 90%;
}
.middle-banner{
    background-image: url(image/7.png);
    background-repeat: no-repeat;
}
.about-me{
    padding-top: 80px;
}
.about-me p{
    text-align: left;
}

.bottom-head{
    text-align: center;
}
.low{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}
.social-info{
    text-align: center;
}
.foot{
    height: 150px;
    text-align: center;
    background-color:rgb(4, 10, 31);
    margin: 0;
}
.foot p{
    color: white;
}
#footid{
    color: gray;
}
.socialdiv{
    width: 100%;
    padding-left:5%;
}
.lowsocial{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}

